[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false

[{xml,yaml,json,hjson}/**.{xml,yaml,json,hjson}]
indent_style = space
indent_size = 4

[index.{xml,yaml,hjson,json}]
indent_style = space
indent_size = 4

[schemas/entry.json]
insert_final_newline = false