[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false

[{xml,yaml,json}/**.{xml,yaml,json}]
indent_style = space
indent_size = 4

[hjson/**.hjson]
indent_size = 2
indent_style = space

[index.{xml,yaml,hjson,json}]
indent_style = space
indent_size = 4