[submodule ".dictionary/animanga"]
	path = .dictionary/animanga
	url = https://github.com/ryuuganime/animanga-wordlist.git
	branch = master
[submodule "schemas"]
	path = schemas
	url = https://github.com/ryuuganime/jsonschema.git
